# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 476d694caeb086a18c5334966dd613daa4d0309cff322f2226d54930c34d1487d6b011cb64c5cadf317285fb2a1ad219564856707e5a8f308ae90f2e17555bc5

test:
  secret_key_base: bbe34b312c495e6881759a054d39b41a960b2294c649dd9657e0b4b6f0b5c304c9b2ea54f512e3d055805a8b277e783d2f8a63b631c5bd13ac13968f48c0dda4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
