development: &default
  host: localhost
  port: 6379
  db: 0
  token_life_minutes: 180

production:
  host: redis_1
  port: 6379
  db: 0
  token_life_minutes: 180

test:
  host: localhost
  port: 6379
  db: 2
  token_life_minutes: 180
