<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', 'http://' + ActionMailer::Base.default_url_options[:host] + '/confirmation?confirmation_token=' + @token %></p>